.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.list-group-item {
    background-color: #343a40; 
    border: none; 
    margin-bottom: 10px; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.list-group-item h5, .list-group-item p {
    color: white; 
}

.star-container {
    display: flex; /* Contenedor para estrellas */
    align-items: center; /* Centrar */
}

.fa-star, .fa-star-half-o {
    font-size: 16px; /* Tamaño de las estrellas más pequeñas */
}

.checked {
    color: orange; /* Color para las estrellas enteras */
}

