.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.list-group-item {
    background-color: #343a40; /* Color oscuro */
    border: none; /* Sin borde */
    margin-bottom: 10px; /* Espacio entre cajas */
    padding: 10px; /* Ajustar el padding para que sean más bajas */
    display: flex; /* Usar flexbox para alinear contenido */
    justify-content: space-between; /* Espacio entre título y estrellas */
    align-items: center; /* Centrar verticalmente */
}

.list-group-item h5, .list-group-item p {
    color: white; /* Color del texto en blanco */
}

.star-container {
    display: flex; /* Contenedor para estrellas */
    align-items: center; /* Centrar verticalmente */
}

.fa-star, .fa-star-half-o {
    font-size: 16px; /* Tamaño de las estrellas más pequeñas */
}

.checked {
    color: orange; /* Color para las estrellas completas */
}

